<header class="header">
  <h1>Jibberjab</h1>
  <div class="welcome_logout">
    <h4 id="welcome">Welcome, {{currentUser}}</h4>
    <p><a id="logout_button" href="/logout">Log Out</a></p>
  </div>
</header>
<div class="main_container">
  <form class="post_message" action="/new_post" method="post">
    <h3>{{currentUser}}</h3>
    <textarea name="message" rows="14" cols="35" placeholder="What would you like to say?"></textarea>
    <button type="submit" name="submit">Post</button>
  </form>
  <div class="post_container">
  {{#posts}}
  {{#message}}
    <div class="single_post">
      <div class="name_message"><a href="/see_post/{{userId}}/{{id}}">
        <h4>{{Users.name}}</h4>
        <p class="message">{{.}}</p>
        <p class="date">{{createdAt}}</p>
      </a></div>
      <div class="likes_buttons">
        <a href="/like/{{id}}"><i class="material-icons thumbs">thumb_up</i></a>
        <h5>{{Likes.length}} likes</h5>
      </div>
    </div>
  {{/message}}
  {{/posts}}
</div>
  {{^posts}}
  <div class="post_container">
    <p>You have no friends...or no news, but probably no friends.</p>
  </div>
  {{/posts}}
</div>
