<header class="header">
  <h4 id="add_post"><a href="/new_post/{{id}}">Add Post</a></h4>
  <h1>Cool social media name</h1>
  <div class="welcome_logout">
    <h4 id="welcome">Welcome, {{username}}</h4>
    <p><a id="logout_button" href="/logout">Log Out</a></p>
  </div>
</header>
