<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>social_network_project</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <header>
      <h1 id="site_title">Cool social network name</h1>
    </header>
    <div class="container">
      {{{yield}}}
    </div>
  </body>
</html>
