<header class="header">
  <h1>Jibberjab</h1>
  <div class="welcome_logout">
    <h4 id="welcome">Welcome, {{currentUser}}</h4>
    <p><a id="logout_button" href="/logout">Log Out</a></p>
  </div>
</header>
<div class="single_post_page">
  <div class="edit_the_post">
    <div class="inside_post">
      <h4 class="post_name">{{#post}}{{Users.name}}{{/post}}</h4>
      <p class="message">{{#post}}{{message}}{{/post}}</p>
      <p class="date">{{#post}}{{createdAt}}{{/post}}</p>
    </div>
    <a href="/remove/{{postId}}"><i class="material-icons delete">delete_forever</i></a>
  </div>
  <div class="liked_by">
    <h2>Liked By</h2>
    {{#likeNames}}
    <p class="like_names">{{.}}</p>
    {{/likeNames}}
  </div>
</div>
