<header class="header">
  <h1>Jibberjab</h1>
  <div class="welcome_logout">
    <h4 id="welcome">Welcome, {{currentUser}}</h4>
    <p><a id="logout_button" href="/logout">Log Out</a></p>
  </div>
</header>
<div class="single_post_page">
  <div class="the_post">
    <h4 class="post_name">{{#userData}}{{#User}}{{name}}{{/User}}{{/userData}}</h4>
    <p class="message">{{#userData}}{{message}}{{/userData}}</p>
<p class="date">{{#Posts}}{{createdAt}}{{/Posts}}</p>
  </div>
  <div class="liked_by">
    <h2>Liked By</h2>
    {{#data}}
    {{#Likes.name}}
    {{.}}
    {{/Likes.name}}
    {{/data}}
    {{#likeNames}}
    <p>{{.}}</p>
    {{/likeNames}}
  </div>
</div>
