
/*font-family: 'Gloria Hallelujah', cursive;*/
/*font-family: 'Philosopher', sans-serif;*/

* {
  margin: 0;
  padding: 0;
}
 body {
  color: #16262B;
  background-color: aliceblue;
  font-family: sans-serif;
 }

input:focus,
select:focus,
textarea:focus {
    outline: none;
}

.material-icons {
  color: #39D79F;
}

.thumbs {
  background-color: #16262B;
  color: white;
  padding: 15px;
}

.thumbs:visited{
  background-color: #16262B;
  color: #39D79F;
  padding: 15px;
}

 .container {

 }

 h1 {
  text-shadow: 2px 2px 0px #16262B;
  color: aliceblue;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 42px;
  text-align: center;
 }

.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header h1 {
  margin-left: 515px;
}

.welcome_logout {
  margin-right: 15px;
}

#add_post a {
  border: 2px solid aliceblue;
  border-radius: 20px;
  color: aliceblue;
  font-size: 18px;
  margin-left: 15px;
  padding: 5px 8px;
  text-decoration: none;
}

#add_post a:hover {
  border: 2px solid gray;
  border-radius: 20px;
  background-color: aliceblue;
  color: #39D79F;
}

#welcome {
  border-bottom: 2px solid #39D79F;
  color: gray;
  font-family: 'Gloria Hallelujah', cursive;
  padding: 5px;
}

.welcome_logout p {
  margin-top: 5px;
}

#logout_button {
  color: indianred;
  margin-top: 5px;
  text-decoration: none;
}

.main_container {
  padding-top: 150px;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.post_message {
  background-color: #fff;
  border-radius: 7px;
  display: flex;
  flex-basis: 25%;
  flex-direction: column;
  height: 350px;
  justify-content: space-between;
  margin-top: 20px;
  top: 95px;
  position: -webkit-sticky;
  position: sticky;
  /*display: sticky;
  top: 350px;*/
}

.post_message h3 {
  background-color: #16262B;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #39D79F;
  font-family: 'Gloria Hallelujah', cursive;
  font-style: italic;
  padding: 10px 15px;
}

.post_message textarea {
  border: none;
  border-top: solid 4px #39D79F;
  border-bottom: solid 4px #39D79F;
  font-size: 16px;
  padding: 15px 8px;
  resize: none;
  text-align: center;
}

.post_message textarea:focus {
  caret-color: #39D79F;
  font-size: 16px;
  outline-width: 0;
}

.post_message button {
  align-self: center;
  background-color: transparent;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 18px;
  margin: 5px;
  padding: 5px 10px;
  text-shadow: 0px 0px 1px #39D79F;
  width: 40%;
}

.post_container {
  flex-basis: 60%;
  margin-left: 25px;
  text-align: center;
}

.post_container p {
  color: gray;
  font-size: 20px;
}

.single_post {
  background-color: #fff;
  border-left: 4px solid #16262B;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  height: 100px;
  margin-bottom: 25px;
  text-align: justify;
}

.single_post a {
  text-decoration: none;
}

.single_post h4, .single_post p {
  margin-left: 10px;
}

.single_post h4 {
  font-family: 'Gloria Hallelujah', cursive;
  color: #16262B;
}

.message {
  margin: 10px 10px 10px 0px;
}

.name_message {
  flex: 1 1 50%;
}

.likes_buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  height: 100%;
}

.likes_buttons a {
  margin-left: 27px;
}

.single_post .date {
font-size: 12px;
font-weight: lighter;
font-style: italic;
}

/***************************************
      signup/login page styling
***************************************/

header {
  background-image: linear-gradient(to right, #39D79F 40%, aliceblue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  padding-bottom: 10px;
  position: fixed;
  text-align: center;
  width: 100%;
}

.signup_container {
  display: flex;
  justify-content: center;
  margin: 0px auto;
  padding: 150px;
  width: 70%;
}

.signup_container input {
  border: none;
  border-bottom: 3px solid #39D79F;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-size: 24px;
  height: 20px;
  margin: 10px 0px;
  padding: 7px;
}

.signup_container input::placeholder {
  color: darkgray;
}

.signup_container button {
  align-self: center;
  background-color: #16262B;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 18px;
  margin-top: 10px;
  padding: 10px;
  width: 50%;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 40px;
}

.signup {
  border-left: 3px solid gray;
  display: flex;
  flex-direction: column;
  padding-left: 40px;
}
/******************************
   single post page styling
******************************/

.single_post_page {
  height: 475px;
  margin: 0px auto;
  padding-top: 150px;
  width: 80%;
}

.edit_the_post {
  background-color: #fff;
  border-left: 4px solid #16262B;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 10px 10px;
}

.the_post {
  background-color: #fff;
  border-left: 4px solid #16262B;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 10px 10px;
}

.post_name {
  color: #16262B;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 32px;
}

.message {
  color: gray;
  font-size: 28px;
}

.date {
  color: #39D79F;
  font-size: 14px;
  font-style: italic;
}

.delete {
  background-color: red;
  color: white;
  padding: 15px;
}

.liked_by {
  background-color: #fff;
  border-left: 4px solid #39D79F;
  border-radius: 2px;
  margin: 20px 0px;
  padding: 10px;
}

.liked_by p {
  color: #39D79F;
  font-size: 20px;
  font-style: italic;
  margin-top: 4px;
}
